## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans=

In [2]:
import pandas as pd
a=[4,8,15,16,23,42]
df=pd.Series(a)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

Ans=

In [6]:
import pandas as pd
a=[10,20,30,40,50,60,70,80,90,100]
df=pd.Series(a)
print(df)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

Ans=

In [5]:
import pandas as pd
mydata={'Name':['Alice','Bob','Claire'], 'Age':[25,30,27], 'Gender':['Female','Male','Female']}
df=pd.DataFrame(mydata)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

An

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.Example:

import pandas as pd
 
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
df = pd.DataFrame(data)
 
print(df)

Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.
A single-column DataFrame comprises a single column with a label while a Series lacks any columns or column labels. Finally, a single-column DataFrame also provides an optional name for the column, whereas a Series can also include an optional name.

A Python one-dimensional labelled array called a Pandas Series may hold any form of data (integer, float, string, etc.). It resembles a table in a database or a column in a spreadsheet. Each component of a series has a unique identification thanks to an index. It is possible to create new Series by using lists, arrays, dictionaries, and existing Series objects.Example:

import pandas as pd

data = [100, 200, 300, 400, 500]
s = pd.Series(data)

print(s)

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans=

Some common functions you can use to manipulate data in a Pandas DataFrame are:
    
1. read_csv(): This is one of the most crucial pandas methods in Python. read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame. All you need to do is mention the path of the file you want it to read.

2. head(): head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows of the DataFrame. If you want more/less number of rows, you can specify n as an integer.

3. groupby(): groupby() is used to group a Pandas DataFrame by 1 or more columns, and perform some mathematical operation on it. groupby() can be used to summarize data in a simple manner.

4. fillna(): Typically in a large dataset, you will find several entries labelled NaN by Python. NaN stands for “not a number”, and represents entries that were not populated in the original data source. While populating the values in the DataFrame, Pandas makes sure that these entries can be identified separately by the user.
fillna() helps to replace all NaN values in a DataFrame or Series by imputing these missing values with more appropriate values.

Example:

import pandas as pd                                        

data_nan = pd.DataFrame({"x1":["x", "x", float('NaN'), "y", float('NaN'), "y"],
                         "x2":range(24, 30),
                         "x3":["a", "b", "c", "d", "e", "f"],
                         "x4":range(11, 5, - 1)})
print(data_nan)

data_blanks = data_nan.copy()     

data_blanks = data_blanks.fillna("")  # Fill NaN with blanks

print(data_blanks)

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans=

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

A Series is a one dimensional array like structure with homogeneous data. The values of the series are mutable means we can change any value in series, but the size of the series is immutable so we can not change the size of the series.
    
DataFrame is a two-dimensional array with heterogeneous data. A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time

The panel is a three-dimensional data structure with heterogeneous data. It is very hard to represent the Panel in a graphical representation. But a Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans=

By using concat() method you can merge multiple series together into DataFrame. This takes several params, for our scenario we use list that takes series to combine and axis=1 to specify merge series as columns instead of rows.

In [1]:
import pandas as pd

courses = pd.Series(["Webdev","Python","DataScience"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees],axis=1)

df=pd.concat([courses,fees,discount],axis=1)
print(df)

             0      1     2
0       Webdev  22000  1000
1       Python  25000  2300
2  DataScience  23000  1000