## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans= A database is a structured collection of data organized and stored in a way that facilitates efficient retrieval, updating, and management of data. Databases are commonly used in software applications to store and manage large volumes of structured or unstructured data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems (DBMS) that differ in their data models, query languages, and scalability characteristics. Here's a brief differentiation between SQL and NoSQL databases:

SQL Databases:

1) Data Model: SQL databases are based on the relational data model, where data is organized into tables with rows and columns. Relationships between tables are established using keys (e.g., primary keys, foreign keys).
2) Schema: SQL databases typically have a predefined schema that defines the structure of tables, including data types, constraints, and relationships.
3) Query Language: SQL databases use SQL (Structured Query Language) as the standard query language for querying and manipulating data. SQL provides powerful capabilities for querying, filtering, aggregating, and updating data.
4) Transactions: SQL databases support ACID (Atomicity, Consistency, Isolation, Durability) transactions, which ensure that database operations are executed reliably and consistently.
5) Scalability: SQL databases are generally vertically scalable, meaning they can handle increased workload by adding more resources (e.g., CPU, memory) to a single server. They may have limitations in horizontal scalability.

NoSQL Databases:

1) Data Model: NoSQL databases support various data models, including document-based, key-value, column-family, and graph-based models. These models are optimized for specific types of data and use cases.
2) Schema: NoSQL databases are schema-less or have a flexible schema, allowing for dynamic schema changes and the storage of heterogeneous data within the same collection.
3) Query Language: NoSQL databases use query languages specific to their data model. These languages may be less expressive than SQL but are optimized for efficient data retrieval and manipulation.
4) Transactions: NoSQL databases may have relaxed transactional guarantees compared to SQL databases. They may support eventual consistency or provide tunable consistency levels based on application requirements.
5) Scalability: NoSQL databases are designed for horizontal scalability, allowing them to distribute data across multiple nodes and handle large volumes of traffic and data. They are well-suited for scaling out in distributed environments.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans= DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining, modifying, and managing database structures. DDL statements are used to create, modify, or delete database objects such as tables, indexes, views, and constraints. DDL statements are important for defining the structure and organization of data within a database.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, or constraints.

Example: Creating a new table named employees with columns for id, name, and salary.

In [ ]:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    salary DECIMAL(10, 2)
);

DROP:
The DROP statement is used to delete existing database objects, such as tables, indexes, views, or constraints.

Example: Dropping the employees table.

In [ ]:
DROP TABLE employees;

ALTER:
The ALTER statement is used to modify existing database objects, such as tables, by adding, modifying, or dropping columns or constraints.

Example: Adding a new column department to the employees table.

ALTER TABLE employees ADD COLUMN department VARCHAR(100);

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table, effectively resetting the table's data while keeping its structure intact.
Unlike DROP, TRUNCATE does not delete the table itself, only its data.

Example: Removing all rows from the employees table.

In [ ]:
TRUNCATE TABLE employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans= DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements are used to insert, update, delete, and retrieve data from database tables. These statements allow users to interact with the data stored in the database and modify it according to their requirements.

INSERT:
The INSERT statement is used to add new rows of data into a table.

Example: Inserting a new employee record into the employees table.

In [ ]:
INSERT INTO employees (id, name, salary) VALUES (1, 'John Doe', 50000);

UPDATE:
The UPDATE statement is used to modify existing data in a table.

Example: Updating the salary of an employee with ID 1 in the employees table.

In [ ]:
UPDATE employees SET salary = 60000 WHERE id = 1;

DELETE:
The DELETE statement is used to remove one or more rows from a table.

Example: Deleting an employee record with ID 1 from the employees table.

In [ ]:
DELETE FROM employees WHERE id = 1;

## Q4. What is DQL? Explain SELECT with an example.

Ans= DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying data from a database. DQL statements are used to retrieve data stored in database tables based on specified criteria. The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables.

SELECT:
- The SELECT statement is used to retrieve data from one or more tables in a database.
- It allows users to specify the columns they want to retrieve, the table(s) from which to retrieve data, and optional criteria for filtering the results.
- Example: Retrieving all columns from the employees table.

In [ ]:
SELECT * FROM employees;

## Q5. Explain Primary Key and Foreign Key.

Ans= Primary Key and Foreign Key are two important concepts in relational database management systems (RDBMS) that establish relationships between tables and ensure data integrity.

1) Primary Key:
- A Primary Key is a column or combination of columns that uniquely identifies each row in a table.
- It must have a unique value for each row and cannot contain NULL values.
- By defining a Primary Key, you ensure the integrity of the data and enforce uniqueness constraints.
- Example: In a table named employees, the employee_id column can be designated as the Primary Key, ensuring that each employee has a unique identifier.

2) Foreign Key:
- A Foreign Key is a column or combination of columns in one table that refers to the Primary Key in another table.
- It establishes a relationship between the tables by enforcing referential integrity, ensuring that the values in the Foreign Key column(s) match the values of the Primary Key column(s) in the referenced table.
- Foreign Key constraints prevent actions that would violate the integrity of the data, such as inserting a value that does not exist in the referenced table.
- Example: In a table named orders, the customer_id column can be designated as a Foreign Key, referencing the customer_id column in the customers table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = connection.cursor()

# Execute a SQL query
cursor.execute("SELECT * FROM your_table")

# Fetch and print the result
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

cursor() method:

The cursor() method is used to create a cursor object, which is used to execute SQL queries and fetch results from the database.
It returns a cursor object that allows you to interact with the database.
The cursor object acts as a pointer to a specific location within the result set, allowing you to iterate over the rows returned by a query.
Example: cursor = connection.cursor()

execute() method:

The execute() method is used to execute SQL queries on the database using the cursor object.
It takes an SQL query as an argument and executes it on the connected database.
After executing a query, you can fetch the result using methods like fetchone(), fetchall(), or fetchmany().
Example: cursor.execute("SELECT * FROM your_table")

## Q7. Give the order of execution of SQL clauses in an SQL query.

Ans= In SQL, the order of execution of clauses in a SQL query is generally as follows:

1) FROM: The FROM clause specifies the tables from which data will be retrieved. It identifies the source tables involved in the query.

2) JOIN: If there are any join operations specified in the query (e.g., INNER JOIN, LEFT JOIN), they are applied next. Join operations combine rows from two or more tables based on a related column between them.

3) WHERE: The WHERE clause filters the rows returned by the query based on specified conditions. It restricts the rows that are included in the result set.

4) GROUP BY: If a GROUP BY clause is present in the query, rows with the same values in specified columns are grouped together. Aggregate functions (e.g., SUM, AVG, COUNT) can be applied to each group.

5) HAVING: The HAVING clause filters the groups produced by the GROUP BY clause based on specified conditions. It is similar to the WHERE clause but operates on grouped rows rather than individual rows.

6) SELECT: The SELECT clause specifies the columns to be included in the result set. It retrieves data from the tables or expressions generated by previous clauses in the query.

7) DISTINCT: If the DISTINCT keyword is used, duplicate rows in the result set are removed.

8) ORDER BY: The ORDER BY clause sorts the rows in the result set based on specified columns and sort orders. It determines the order in which the rows are presented in the final output.

9) LIMIT / OFFSET: If the query includes a LIMIT clause, it restricts the number of rows returned by the query. An optional OFFSET clause can be used to skip a specified number of rows before returning results.